.blog{
    background-color: var(--background-color);
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    min-height: 100vh;
}
.blogSection{
}
.bgWorks {
    max-width: 100%;
  }
.bg-head {
    font-size: 4.5rem;
    color: var(--text-color);
    margin-bottom: 5px;
    
  }
  
  .bg-subhead {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: auto;
    margin-bottom: 40px;
  }

  .bgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .bg-box1 {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 1px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 3%;
    transition: transform 0.3s ease;;
  }
  .bg-box1:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
  .blog-link {
    text-decoration: none; /* Removes underline from the link */
    color: inherit; /* Inherit the text color from parent */
  }
  
  .blog-link:hover {
    text-decoration: none; /* Ensures no underline on hover */
  }
  
  .bgImage1 {
    width: 100%;
    height: auto;
    max-width: 780px;
    border-radius: 20px;
  }
.bg-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bg-title{
    display: flex;
    flex-direction: row;
    align-items:center;
    max-width: 780px;
    width: 100%;
    gap: 2%;
}
.bg-subtopic{
  font-size: 1rem;
  font-weight: 450;
  text-align: left;
  margin-top: -1%;
  color: #000000;
}
.bg-figma{
    max-width: 35px;
}
.custom-shape-divider-top-1726775091 {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.bg-protop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.bg-topic1{
    font-size: 1.5rem;
}
.custom-shape-divider-top-1726775091 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1726775091 .shape-fill {
    fill: var(--background-color);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .blog{
        top: 5%;
    }
    .custom-shape-divider-top-1726775091 svg {
        width: calc(143% + 1.3px);
        height: 70px;
    }
    .bg-box1{
        max-width: 60%;
    }

}

/** For mobile devices **/
@media (max-width: 767px) {
    .blog{
        margin-top: 5%;
    }
    .custom-shape-divider-top-1726775091 svg {
        width: calc(143% + 1.3px);
        height: 42px;
    }

    .bg-box1{
        max-width: 70%;
        margin-bottom: 5%;
    }
    .bg-head{
        font-size: 3rem;
    }
    .bg-subhead{
        font-size: 1rem;
        margin-bottom: 20px;
        
    }
    .bg-title{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bg-subtopic{
        font-size: 0.6rem;
    }
    .bg-figma{
        width: 25px;
    }
    .bg-topic1{
        font-size: 0.9rem;
    }
    .bg-figma{
        max-width: 25px;
    }
}