.contact{
    background-color: var(--background-color);
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.cnt-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 0% 5%;
}
.cnt-wave{
    padding: 5%;
    width: 40%;
}
.cnt-right{
    background-color: #2AD87F;
    width: 100%;
    border-radius: 30px;
    padding: 1%;
}
.cnt-para{
    font-size: 1rem;
    text-align: justify;
    padding: 0 5%;
    color: #1E242B;
}
.ctn-head{
    font-size: 2.5rem;
    margin: auto;
    padding: 0 5%;
}
.ctn-subhead{
    font-size: 0.75rem;
    margin: auto;
    padding: 0 5%;
}
.cnt-send{
  width: 20px;
  height: 20px;
  margin-left: 5%;
  fill: #2ad87f; /* Change the color of the icon */
  transition: fill 0.3s ease;
}
.custom-svg {
  width: 30px;
  height: 30px;
  fill: #1E242B; /* Change the color of the icon */
  transition: fill 0.3s ease;
}

.custom-svg:hover {
  fill: rgb(255, 255, 255); /* Change color on hover */
}

.social-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.custom-svg {
  transition: transform 0.3s ease;
  cursor: pointer; /* Smooth transition for scaling */
}

.custom-svg:hover {
  transform: scale(1.1);
  border-radius: 50%;
  border:solid 2px #2AD87F /* Scale up to 1.2 on hover */
}

.custom-svg:active {
  transform: scale(1); /* Return to normal size when clicked */
}


/* Styles for medium screens (tablets) */
@media (max-width: 1023px) {
  .contact{

  }
  .cnt-flex {
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center the content */
    gap: 3%; /* Reduce the gap between elements */
    margin-top: 0;
    margin: 0 5%;
  }

  .cnt-right {
    width: 70%; /* Slightly reduce the width for tablets */
    padding: 4%; /* Increase padding for breathing space */
    border-radius: 30px; /* Adjust the border-radius for a smoother look */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3); /* Softer shadow */
  }

  .cnt-wave {
    width: 50%; /* Make the image smaller */
    padding: 2%;
  }
  .ctn-head{
    font-size: 1.5rem;
}
.ctn-subhead{
    font-size: 0.5rem;
}
.cnt-para{
    font-size: 1rem;
}
}

/* Styles for small screens (mobile) */
@media (max-width: 767px) {
  .contact{
   margin-top: 10%; 
  }
  .cnt-flex {
    flex-direction: column; /* Stack vertically on small screens */
    align-items: center;
    gap: 5%; /* Increase the gap between items */
    margin: 0 5%;
  }

  .cnt-right {
    width: 70%; /* Full width for small screens */
    border-radius: 20px; /* Smaller radius for compact design */
    max-height: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow for mobile */
  }

  .cnt-wave {
    width: 70%; /* Reduce the image size on small screens */
    padding: 2%;
  }
  .ctn-head{
    font-size: 1.5rem;
}
.ctn-subhead{
    font-size: 0.5rem;
}
}
