.toggle-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;   
  position: relative;
  /* Add media query for responsiveness */
}

.toggle-checkbox {
  display: none; /* Hide the default checkbox */
}

.toggle-label {
  z-index: 100;
  border-radius: 20px;     /* Space around the text */
  cursor: pointer;        /* Pointer cursor on hover */
  font-size: 28px;        /* Larger font size for visibility */
  display: flex;
  justify-content: center;
  align-items: center;   /* Space between the label and checkbox */
  user-select: none;      /* Prevent text selection */
  transition: background-color 0.3s; /* Smooth background color transition */
}

/* Adjust padding and font size for smaller screens */
@media (max-width: 600px) {
  .toggle-container{
  }
  .toggle-label {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .toggle-container{
  }
  .toggle-label {
    font-size: 20px;
  }
}

/* Background color when checked */
.toggle-checkbox:checked + .toggle-label {
  background-color: #4caf50; /* Background color when checked */
}
